body {font-size: 12px}
.navbar.red {background-color: #D22937 !important}
.red-text {color: #D22937}
.navbar.red .navbar-brand b {color: white}
.content{ padding: 30px 15px}
ol li { padding-top: 20px }
.table thead th {vertical-align: middle !important}
.form {padding: 15px; background-color: #EEE; margin: 5px 0}
.form .q {width: 300px; display: inline-block}
.form .size {width: 100px; display: inline-block}
h2 {padding: 25px 0 15px 0}

