<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">

        <p><b>Here it is the solution of the problem:</b></p>
        <p>The application parse the LunaFactory API and stores information locally on an Embadded MongoDB instance.</p>
        <p>I assambled the presentation in 2 ways:</p>

        <ol>
            <li>
                A <b>RESTful API</b> that exposes data in required format ( you can access the <b>Swagger Docs</b> here: <b><a href="http://localhost:8765/swagger-ui.html" target="_blank">http://localhost:8765/swagger-ui.html</a></b> ).</li>
            <li>
                A minimal <b>Frontend</b> assempled with Thymeleaf & Bootstrap will make all things nicer.<br/><br/>
                <a th:href="@{/all-by-description}" role="button" class="btn btn-primary">Click here to access Frontend</a>
            </li>
        </ol>

    </div>
</body>
</html>