<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Demo LUNATECH beginner test</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
</head>
<body>
    <nav class="navbar red navbar-light bg-light">
        <a class="navbar-brand" href="/"><b>Demo LUNATECH beginner test</b></a>
    </nav>

    <div layout:fragment="content" class="content">
        Content here!
    </div>

    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>