<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">

    <div th:if="${!isSetupComplete}" class="alert alert-warning" role="alert">
        Service is still loading products. <b>Try a refresh later!</b>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/all-by-description}">List products and total weight by description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/most-expensive}">Most expensive products</a>
        </li>
    </ul>

    <form method="get" class="form">
        <label for="q">Description match:</label>
        <input th:value="${q}" name="q" class="form-control q" id="q"/>
        <input type="submit" value="Filter" class="btn btn-primary"/>
    </form>

    <th:block th:switch="${totalWeight}">

        <th:block th:case="0">
            <h2 class="red-text">No products found matching description "[[${q}]]"</h2>
        </th:block>

        <th:block th:case="*">
            <h2>Products with description matching "[[${q}]]"</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th>EAN</th>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Assambled</th>
                        <th>Dimensions<br/>
                            <small>width x height x depth</small>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="8" class="center-text red-text">
                            <h3>Total products weight: <b th:text="${#numbers.formatDecimal(totalWeight, 0, 2)}"></b></h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${products}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.ean}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${#numbers.formatDecimal(item.weight, 0, 2)}"></td>
                        <td th:text="${item.description}"></td>
                        <th:block th:if="${item.price > 0}">
                            <td th:text="${#numbers.formatDecimal(item.price, 0, 2)}"></td>
                        </th:block>
                        <th:block th:unless="${item.price > 0}">
                            <td> - </td>
                        </th:block>
                        <td th:text="${item.assembled}"></td>
                        <td>
                            <span th:text="${#numbers.formatDecimal(item.dimension.width, 0, 2)}"></span> x
                            <span th:text="${#numbers.formatDecimal(item.dimension.height, 0, 2)}"></span> x
                            <span th:text="${#numbers.formatDecimal(item.dimension.depth, 0, 2)}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </th:block>

    </th:block>


</div>
</body>
</html>